+ AL_USDMaya ${AL_USDMAYA_VERSION} ${CMAKE_INSTALL_PREFIX}/plugin/al
plug-ins: plugin
PYTHONPATH+:=lib/python
PATH+:=lib
${PXR_OVERRIDE_PLUGINPATH_NAME}+:=lib/usd
${PXR_OVERRIDE_PLUGINPATH_NAME}+:=plugin
