+ USD ${USD_VERSION} ${USD_INSTALL_LOCATION}
icons:
plug-ins:
presets:
scripts: lib/python
resources:
PYTHONPATH+:=lib/python
USD_LOCATION:=
MAYA_USD_VERSION=${ADSK_USD_VERSION}
PXR_MTLX_STDLIB_SEARCH_PATHS+:=libraries
${MAYAUSD_EXTRA_PYTHON_PATH}

+ Holdout_LIB ${MAYAUSD_VERSION} ${CMAKE_INSTALL_PREFIX}
icons:
plug-ins:
presets:
scripts:
resources:
PYTHONPATH+:=
MAYA_SCRIPT_PATH+:=
HOLDOUT_VERSION=${MAYAUSD_VERSION}

+ Holdout ${MAYAUSD_VERSION} ${CMAKE_INSTALL_PREFIX}/plugin/holdout
plug-ins: plugin
