+ USD ${USD_VERSION} ${USD_INSTALL_LOCATION}
icons: 
plug-ins: 
presets: 
scripts: 
resources: 
PYTHONPATH+:=lib/python
USD_LOCATION:=
MAYA_USD_VERSION=${USD_VERSION}
PXR_MTLX_STDLIB_SEARCH_PATHS+:=libraries

+ MAYAHYDRA ${MAYAHYDRA_VERSION} ${CMAKE_INSTALL_PREFIX}
icons: 
plug-ins: lib/maya
presets: 
scripts: 
resources: 
