---
Language: Cpp

BasedOnStyle: WebKit
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveMacros: 'true'
AlignConsecutiveDeclarations: 'true'
AlignEscapedNewlines: Left
AlignTrailingComments: 'true'
AllowAllConstructorInitializersOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: 'true'
AlwaysBreakTemplateDeclarations: MultiLine
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeTernaryOperators: 'true'
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: '100'
FixNamespaceComments: 'true'
IncludeBlocks: Regroup
IncludeCategories:

  # Desired final ordering:
  # 1. Related header
  # 2. C system headers
  # 3. C++ standard library headers
  # 4. Other libraries' headers
  # 5. Autodesk + Maya headers
  # 6. Pixar + USD headers
  # 7. All public headers from this repository (maya-usd)
  # 8. All private headers
  # 9. Conditional includes

  # 1. Related header
  #    Handled  by the default IncludeIsMainRegex regex, and auto-assigned
  #    Priority 0

  # 2. C system headers
  #    angle brackets, no directory, end with ".h"
  - Regex:           '^<[A-Za-z0-9_-]+\.h>$'
    Priority:        2

  # 3. C++ standard library headers
  #    angle brackets, no directory, no extension
  - Regex:           '^<[A-Za-z0-9_-]+>$'
    Priority:        3

  # 5. Autodesk + Maya headers
  - Regex:           '^<(maya|ufe)/'
    Priority:        5

  # 6. Pixar + USD headers
  - Regex:           '^<pxr/'
    Priority:        6

  # 7. All public headers from this repository (maya-usd)
  - Regex:           '^<(mayaUsd|hdMaya|AL|usdMaya)/'
    Priority:        7

  # 8. All private headers
  - Regex:           '^"'
    Priority:        8

  # 4. Other libraries' headers
  - Regex:           '^<'
    Priority:        4

  # 9. Conditional includes
  # Not reordered by clang-format, we need to manually make sure these come last

MaxEmptyLinesToKeep: '1'
NamespaceIndentation: None
UseTab: Never

...
