[submodule "plugins/USD"]
	path = plugins/USD
	url = https://git.autodesk.com/autodesk-forks/USD
	branch = develop_maya_usd
[submodule "plugins/AL_USDMaya"]
	path = plugins/AL_USDMaya
	url = https://git.autodesk.com/autodesk-forks/AL_USDMaya
	branch = develop_maya_usd