*build/
*.project
*.cproject
*.pydevproject
*.settings/
*.vs
*.vscode
CMakeSettings.json
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/cmake.check_cache
*~
*.orig

*.DS_Store
*.xcuserstate
*.pbxuser
*.swp
*.pyc